<nav class="blue-grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo">LGL</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
 
      <li><a href="collapsible.html">About</a></li>
      <li><a href="mobile.html">Contacta</a></li>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo">
  <li><a href="collapsible.html">About</a></li>
  <li><a href="mobile.html">Contacta</a></li>
</ul>