---
layout: default
---
<voice class="voice">

  <header class="post-header">
    <h1 class="post-title">{{ page.name }} {{ page.surname }}</h1>
  </header>

  <img src="/assets/images/voices/{{ page.permalink | replace: '/', '' }}.jpg"/>

  <div class="post-content">
    {{ content }}
  </div>

  <!-- Demos de veu -->
  <h2>Demo</h2>
  <audio controls>
    <source src="/assets/audio/{{ page.permalink | replace: '/', '' }}/demo1.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  </br>
  </br>
  <!-- Llista d'actors o actrius que dobla -->
  {% if page.gender == "female" %}
    <h2>Actrices</h2>
  {% else %}
    <h2>Actores</h2>
  {% endif %}

  {% for actor in page.actors %}
    <b>{{ actor.name }}</b>
    {% if actor.movies %}
      {% for movie in actor.movies %}
      <i>"{{ movie.title }}"</i> 
      {% endfor %}
    </br>
    {% endif %}
  {% endfor %}

  </br>
  <!-- Llista de marques i campanyes de publi -->
  <h2>Campañas</h2>
  {% for brand in page.brands %}
  <a href= "{{ brand.demo }}"> {{ brand.name }}</a>
  </br>
  {% endfor %}


</voice>